<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Inside Suite">
    <test name="Base test">
        <classes>
            <class name="HomeCareersPagesTest"/>
            <class name="QualityAssuranceJobsTest"/>
        </classes>
    </test>
</suite>